body {
  background-color: #eef6bf;
}
.top {
  display: flex;
  align-items: center;
}
h1 {
  font-family: "Roboto", sans-serif;
  font-size: 56px;
  margin: 40px auto;
  text-align: center;
  color: #75b79e;
}
.clock {
  display: flex;
  align-items: center;
  width: 10%;
  height: 80px;
  background-color: gray;
  margin-right: 40px;
  border-radius: 5px;
}
.line-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 119px;
  margin-right: 124px;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 117px;
  height: 146px;
  background-color: #a7e9af;
  margin: 17px;
  border-radius: 5px;
}
img {
  width: 100px;
}
@media (max-width: 500px) {
  .top {
    flex-direction: column;
  }
  h1 {
    font-size: 38px;
  }
  .clock {
    width: 40%;
    margin: 0px;
  }
  .content {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .line-cards {
    flex-direction: column;
  }
}
