body {
  background-color: #eef6bf;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 56px;
  margin: 40px auto;
  text-align: center;
  color: #75b79e;
}

.line-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto 119px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 117px;
  height: 146px;
  background-color: #a7e9af;
  margin-right: 34px;
  margin-bottom: 34px;
}

img {
  width: 100px;
}
